### Import the data and clean it up a little bit

In [1]:
import pandas as pd

file_path = "/Users/nsaveas/Documents/repos/DPA-Final-Project/"

In [2]:
# Import the data
business_df = pd.read_csv(file_path + "data/business_With_key1.csv")
establishment_df = pd.read_csv(file_path + "Cleaned Establishement.csv")

inspection_types_df = pd.read_csv(file_path + "data/restaurants/restaurant_inspection_types.csv", delimiter=";")

In [3]:
# This currently does nothing because the establishment data does not have an inspection type column
inspection_types_df

   inspection_type_id                inspection_type  Unnamed: 2
0                 604  Epidemiological Investigation         NaN
1                 902        Complaint Investigation         NaN
2                 914                  Re-inspection         NaN
3                 916             Routine Inspection         NaN
4                 918     Special Request Inspection         NaN
5                 919                         Survey         NaN
6                 928       Final Remodel Inspection         NaN

In [4]:
establishment_df.shape

(24986, 20)

In [5]:
business_df.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,clean_name,key
0,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,4.0,carluccio tivoli gardens,['PR0009962' 'PR0009961']
1,1,6007 Dean Martin Dr,"{'BikeParking': 'False', 'Ambience': ""{'romant...",KWywu2tTEPWmR9JnBc0WyQ,"Nightlife, Arts & Entertainment, Bars, Strip C...",Las Vegas,"{'Thursday': '19:30-2:0', 'Friday': '19:30-3:0...",1,36.080168,-115.182756,Hunk Mansion,89118.0,107,4.0,hunk mansion,NaN
2,2,6055 E Lake Mead Blvd,"{'BikeParking': 'True', 'BusinessParking': ""{'...",tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,"{'Monday': '11:0-21:0', 'Tuesday': '10:0-21:0'...",1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,4.5,maria mexican,['PR0011933']
3,3,4190 N Pecos Rd,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '...",1,36.236053,-115.096454,Three Square,89115.0,44,5.0,three square,['PR0105994']
4,4,6125 Spring Mountain Rd,"{'RestaurantsPriceRange2': '1', 'Ambience': ""{...",kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,NaN,0,36.125031,-115.225620,Dairy Queen,89146.0,33,2.0,dairy queen,['PR0017094']

In [6]:
# Get rid of columns that don't add any information
business_df = business_df.drop(columns=['Unnamed: 0', 'attributes', 'hours', 'key'])
business_df.head()

,address,business_id,categories,city,is_open,latitude,longitude,name,postal_code,review_count,stars,clean_name
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,4.0,carluccio tivoli gardens
1,6007 Dean Martin Dr,KWywu2tTEPWmR9JnBc0WyQ,"Nightlife, Arts & Entertainment, Bars, Strip C...",Las Vegas,1,36.080168,-115.182756,Hunk Mansion,89118.0,107,4.0,hunk mansion
2,6055 E Lake Mead Blvd,tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,4.5,maria mexican
3,4190 N Pecos Rd,NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,1,36.236053,-115.096454,Three Square,89115.0,44,5.0,three square
4,6125 Spring Mountain Rd,kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,0,36.125031,-115.225620,Dairy Queen,89146.0,33,2.0,dairy queen

In [7]:
business_df.shape

(10682, 12)

In [8]:
# Check to see if there are any problems with the data -- all businesses have an id
business_df.isna().sum()

address         205
business_id       0
categories        0
city              0
is_open           0
latitude          0
longitude         0
name              0
postal_code      23
review_count      0
stars             0
clean_name      247
dtype: int64

In [9]:
establishment_df.head()

,permit_number,facility_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,city_name,zip_code,nciaa,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,Unnamed: 21
0,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,Las Vegas,89101-5600,Y,1,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL,NaN
1,PR0000003,FA0002678,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159440,-115.079750,10,Las Vegas,89104-5506,Y,1,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724,NaN
2,PR0000004,FA0002679,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,Las Vegas,89130-3302,Y,1,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965,NaN
3,PR0000005,FA0002680,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,Las Vegas,89108-7049,Y,1,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922,NaN
4,PR0000006,FA0002681,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,Las Vegas,89101-6370,Y,1,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA,NaN

In [10]:
establishment_df = establishment_df.drop(columns=['Unnamed: 21'])

### Split the business rows with multiple permits

This section used to be about splitting each business with multiple permits into its own row, but the new mapping file did this for me

In [11]:
# multiple_ind = business_df.apply(lambda x: True if len(x['key']) > 13 else False, axis=1)
# multiple_permit_count = len(multiple_ind[multiple_ind == True].index)

# single_ind = [not x for x in multiple_ind]

# multiple_ind_true = multiple_ind[multiple_ind == True].index
# multiple_permit_count

In [12]:
# business_single_df = business_df.copy()[single_ind]

# for row in list(multiple_ind_true):
#     keys = business_df.loc[row, "key"]
#     current_row = business_df.loc[row, :]
#     for key in keys[2:len(keys)-2].split():
#         copy_row = current_row.copy()
#         copy_row["key"] = key.replace("'", "")
#         business_single_df = business_single_df.append(copy_row, ignore_index = True)
            
# #     business_df.drop(row, inplace = True)
#     print("dropped", row)

In [13]:
# multiple_ind = business_single_df.apply(lambda x: True if len(x['key']) > 13 else False, axis=1)
# multiple_permit_count = len(multiple_ind[multiple_ind == True].index)
# multiple_permit_count

In [14]:
# business_single_df.shape

In [15]:
# business_single_df.tail()

### Join the two datasets

Take the mapping data set and merge it with the establishments data.

Take that joined data and merge with the business data.

Should end up with a dataframe where each row is a business with an inspection. There are going to be multiple business ids with multiple rows. That means the business has been inspected multiple times

In [16]:
# Import the mapping file and only use the valid matches
# Remove some columns and rename another column for joining purposes
mapping_df = pd.read_csv(file_path + "data/mapping_file.csv")
mapping_df = mapping_df.drop(columns='Unnamed: 8')
mapping_df = mapping_df[mapping_df['is_valid'] == 'y']
mapping_df = mapping_df.reset_index(drop = True)
mapping_df = mapping_df.rename(columns={'address_y': 'address'})
mapping_df.shape

(8972, 8)

In [17]:
mapping_df.head()

,business_id,address_x,facility_id,location_name,name,restaurant_name,address,is_valid
0,PZ-LZzSlhSe9utkQYU8pFg,"1775 E Tropicana Ave, Ste 29",FA0005923,Carluccios,Carluccio's Tivoli Gardens,Carluccio's Lounge Bar,1775 E Tropicana Ave,y
1,PZ-LZzSlhSe9utkQYU8pFg,"1775 E Tropicana Ave, Ste 29",FA0005923,Carluccios,Carluccio's Tivoli Gardens,Carluccio's Restaurant,1775 E Tropicana Ave,y
2,tstimHoMcYbkSC4eBA1wEg,6055 E Lake Mead Blvd,FA0006354,Mama Marias,Maria's Mexican Restaurant & Bakery,Mama Maria's,6055 E Lake Mead Blvd C,y
3,NBn4hgfGtNz91k3VsDZlmw,4190 N Pecos Rd,FA0069108,THREE SQUARE - SFSP,Three Square,THREE SQUARE CATERING,4190 N PECOS Rd,y
4,kANF0dbeoW34s2vwh6Umfw,6125 Spring Mountain Rd,FA0008571,Dairy Queen #17798,Dairy Queen,Dairy Queen #17798,6125 Spring Mountain Rd,y

In [18]:
# We inner join because we only want establishments that have a matching business on the yelp dataset
# and we only care about the mappings that actually map to an establishment
establishment_with_map_df = establishment_df.merge(mapping_df, how='inner', 
                                                   on=['facility_id', 'location_name', 'restaurant_name', 'address'])

In [19]:
establishment_with_map_df.shape

(8998, 23)

In [20]:
establishment_with_map_df.head()

,permit_number,facility_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,city_name,...,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,business_id,address_x,name,is_valid
0,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,Las Vegas,...,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL,4lAwPgy1m9Rd0oBpi4Hr2w,301 Fremont St,McDonald's,y
1,PR0000003,FA0002678,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159440,-115.079750,10,Las Vegas,...,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724,xI8O5h3Pa0MQlTWf93noTA,4400 E Charleston,McDonald's,y
2,PR0000004,FA0002679,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,Las Vegas,...,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965,ktJJMphosVXddoLGG9xR4A,3175 N Rancho,McDonald's,y
3,PR0000005,FA0002680,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,Las Vegas,...,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922,Cm-BH_7VPLP63FdI9ML6vA,2020 N Rainbow,McDonald's,y
4,PR0000006,FA0002681,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,Las Vegas,...,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA,O_YSJEMk2GzcmnwXWBj74g,1 S Main St,McDonald's,y

In [21]:
# We want an inner join because we only care about businesses that have inspection data
business_ment_df = business_df.merge(establishment_with_map_df, how = "inner", 
                                     on='business_id',
                                     suffixes=('_left', '_right'))

In [22]:
business_ment_df.isna().sum()

address_left           0
business_id            0
categories             0
city                   0
is_open                0
latitude_left          0
longitude_left         0
name_left              0
postal_code            2
review_count           0
stars                  0
clean_name             0
permit_number          0
facility_id            0
PE                     0
restaurant_name        0
location_name          0
address_right          0
latitude_right         0
longitude_right        0
city_id                0
city_name              0
zip_code               0
nciaa               2165
record_status          0
current_grade        251
current_demerits     250
date_current         251
previous_grade       261
date_previous        261
search_text            0
address_x              0
name_right             0
is_valid               0
dtype: int64

In [23]:
business_ment_df = business_ment_df.dropna(axis='index', subset=['current_grade'])
business_ment_df = business_ment_df.drop(columns=['nciaa'])
business_ment_df.isna().sum()

address_left         0
business_id          0
categories           0
city                 0
is_open              0
latitude_left        0
longitude_left       0
name_left            0
postal_code          2
review_count         0
stars                0
clean_name           0
permit_number        0
facility_id          0
PE                   0
restaurant_name      0
location_name        0
address_right        0
latitude_right       0
longitude_right      0
city_id              0
city_name            0
zip_code             0
record_status        0
current_grade        0
current_demerits     0
date_current         0
previous_grade      10
date_previous       10
search_text          0
address_x            0
name_right           0
is_valid             0
dtype: int64

In [24]:
business_ment_df.shape

(8747, 33)

In [25]:
business_ment_df.columns

Index(['address_left', 'business_id', 'categories', 'city', 'is_open',
       'latitude_left', 'longitude_left', 'name_left', 'postal_code',
       'review_count', 'stars', 'clean_name', 'permit_number', 'facility_id',
       'PE', 'restaurant_name', 'location_name', 'address_right',
       'latitude_right', 'longitude_right', 'city_id', 'city_name', 'zip_code',
       'record_status', 'current_grade', 'current_demerits', 'date_current',
       'previous_grade', 'date_previous', 'search_text', 'address_x',
       'name_right', 'is_valid'],
      dtype='object')

In [26]:
business_ment_df = business_ment_df.drop(columns=['previous_grade', 'date_previous', 'name_right', 
                                                  'is_valid', 'address_x'])

In [27]:
business_ment_df.head()

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,current_demerits,date_current,search_text
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,36.100723,-115.128564,10,Las Vegas,89119-6529,2,A,10.0,2011-02-01 00:00:00,Carluccio's Restaurant Carluccios Restaurant
1,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,36.100723,-115.128564,10,Las Vegas,89119-6529,2,A,4.0,2011-02-01 00:00:00,Carluccio's Lounge Bar Carluccios Lounge Bar
2,6055 E Lake Mead Blvd,tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,...,36.195696,-115.040472,10,Las Vegas,89156-7801,1,A,6.0,2019-04-16 00:00:00,Mama Maria's Mama Marias
3,4190 N Pecos Rd,NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,1,36.236053,-115.096454,Three Square,89115.0,44,...,36.236076,-115.096567,10,Las Vegas,89115,2,A,3.0,2019-01-22 00:00:00,THREE SQUARE CATERING THREE SQUARE CATERING
4,6125 Spring Mountain Rd,kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,0,36.125031,-115.225620,Dairy Queen,89146.0,33,...,36.125031,-115.225620,10,Las Vegas,89146-8802,2,A,10.0,2016-03-10 00:00:00,Dairy Queen #17798 Dairy Queen 17798

### Aggregate inspections that happen on the same day

In [28]:
count_df = business_ment_df.groupby(['facility_id', 'date_current']).agg({'current_grade': 'count', 'current_demerits': 'mean'})
count_df

                                 current_grade  current_demerits
facility_id date_current
FA0002025   2010-03-26 00:00:00              2              10.0
FA0002026   2011-06-15 00:00:00              1               9.0
FA0002028   2011-10-20 00:00:00              2               5.5
FA0002053   2019-07-23 00:00:00              1               6.0
FA0002059   2019-07-15 00:00:00              1               0.0
...                                        ...               ...
FA0091885   2019-12-18 00:00:00              2               6.0
FA0091892   2019-12-10 00:00:00              1               0.0
FA0091902   2019-12-09 00:00:00              1               8.0
FA0092041   2020-01-22 00:00:00              2               1.5
            2020-01-29 00:00:00              1               3.0

[6869 rows x 2 columns]

In [29]:
count_df.loc[("FA0005923", "2011-02-01 00:00:00")]

current_grade       2.0
current_demerits    7.0
Name: (FA0005923, 2011-02-01 00:00:00), dtype: float64

In [30]:
count_df = count_df.reset_index()
count_df = count_df.rename(columns={'current_grade': 'inspection_count', 'current_demerits': 'average_demerits'})
count_df.head()

  facility_id         date_current  inspection_count  average_demerits
0   FA0002025  2010-03-26 00:00:00                 2              10.0
1   FA0002026  2011-06-15 00:00:00                 1               9.0
2   FA0002028  2011-10-20 00:00:00                 2               5.5
3   FA0002053  2019-07-23 00:00:00                 1               6.0
4   FA0002059  2019-07-15 00:00:00                 1               0.0

In [31]:
count_df[count_df['facility_id'] == 'FA0005923']

     facility_id         date_current  inspection_count  average_demerits
1431   FA0005923  2011-02-01 00:00:00                 2               7.0

In [32]:
agg_inspection_df = business_ment_df.merge(count_df, how='inner', on=['facility_id', 'date_current'])
agg_inspection_df.head()

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,city_id,city_name,zip_code,record_status,current_grade,current_demerits,date_current,search_text,inspection_count,average_demerits
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,10,Las Vegas,89119-6529,2,A,10.0,2011-02-01 00:00:00,Carluccio's Restaurant Carluccios Restaurant,2,7.0
1,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,10,Las Vegas,89119-6529,2,A,4.0,2011-02-01 00:00:00,Carluccio's Lounge Bar Carluccios Lounge Bar,2,7.0
2,6055 E Lake Mead Blvd,tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,...,10,Las Vegas,89156-7801,1,A,6.0,2019-04-16 00:00:00,Mama Maria's Mama Marias,1,6.0
3,4190 N Pecos Rd,NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,1,36.236053,-115.096454,Three Square,89115.0,44,...,10,Las Vegas,89115,2,A,3.0,2019-01-22 00:00:00,THREE SQUARE CATERING THREE SQUARE CATERING,1,3.0
4,6125 Spring Mountain Rd,kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,0,36.125031,-115.225620,Dairy Queen,89146.0,33,...,10,Las Vegas,89146-8802,2,A,10.0,2016-03-10 00:00:00,Dairy Queen #17798 Dairy Queen 17798,1,10.0

In [33]:
no_longer_needed = ['restaurant_name', 'permit_number', 'PE', 'current_demerits', 'search_text']
agg_inspection_df = agg_inspection_df.drop(columns = no_longer_needed).drop_duplicates()
agg_inspection_df.head()

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,date_current,inspection_count,average_demerits
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,36.100723,-115.128564,10,Las Vegas,89119-6529,2,A,2011-02-01 00:00:00,2,7.0
2,6055 E Lake Mead Blvd,tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,...,36.195696,-115.040472,10,Las Vegas,89156-7801,1,A,2019-04-16 00:00:00,1,6.0
3,4190 N Pecos Rd,NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,1,36.236053,-115.096454,Three Square,89115.0,44,...,36.236076,-115.096567,10,Las Vegas,89115,2,A,2019-01-22 00:00:00,1,3.0
4,6125 Spring Mountain Rd,kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,0,36.125031,-115.225620,Dairy Queen,89146.0,33,...,36.125031,-115.225620,10,Las Vegas,89146-8802,2,A,2016-03-10 00:00:00,1,10.0
5,3650 E Flamingo Rd,YK5eFV8uS1bCmp8GeiQ-Qg,"Food, Donuts",Las Vegas,0,36.115813,-115.095457,All Star Donuts & Kolaches,89121.0,6,...,36.115752,-115.095320,10,Las Vegas,89121-4934,2,A,2012-01-24 00:00:00,1,10.0

In [34]:
agg_inspection_df.shape

(7115, 25)

In [35]:
agg_counts_df = agg_inspection_df.groupby(['facility_id', 'date_current']).agg('count')
agg_counts_df.head()

,,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,address_right,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,inspection_count,average_demerits
facility_id,date_current,,,,,,,,,,,,,,,,,,,,,
FA0002025,2010-03-26 00:00:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FA0002026,2011-06-15 00:00:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FA0002028,2011-10-20 00:00:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FA0002053,2019-07-23 00:00:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FA0002059,2019-07-15 00:00:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [36]:
agg_counts_df.business_id.value_counts()

1    6640
2     214
3      13
4       2
Name: business_id, dtype: int64

In [37]:
agg_counts_df.business_id.mean()

1.0358130732275441

In [38]:
agg_counts_df[agg_counts_df['business_id'] > 1]

,,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,address_right,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,inspection_count,average_demerits
facility_id,date_current,,,,,,,,,,,,,,,,,,,,,
FA0002367,2019-02-06 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0002372,2019-10-28 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0002375,2019-08-20 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0002407,2015-09-15 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0002422,2019-10-30 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA0084669,2019-10-01 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0084781,2020-01-30 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0085900,2019-10-28 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0086383,2019-10-02 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FA0087161,2019-05-28 00:00:00,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [39]:
business_ment_df[business_ment_df['facility_id'] == 'FA0002367']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,current_demerits,date_current,search_text
1531,3866 W Sahara Ave,sED2nCJYPWgjTK64_x9IRw,"Fast Food, Restaurants",Las Vegas,1,36.144754,-115.19276,Carl's Jr Restaurants,89102.0,10,...,36.144754,-115.19276,10,Las Vegas,89102-0505,1,A,0.0,2019-02-06 00:00:00,CARL'S JR #7086 CARLS JR 7086
4661,3866 W Sahara,1vRSIAJ5rlnSabNLMiOXeA,"Burgers, Fast Food, Restaurants",Las Vegas,1,36.144754,-115.19276,Carl's Jr.,89102.0,6,...,36.144754,-115.19276,10,Las Vegas,89102-0505,1,A,0.0,2019-02-06 00:00:00,CARL'S JR #7086 CARLS JR 7086

In [40]:
agg_counts_df[agg_counts_df['business_id'] == 4]

                                 address_left  business_id  categories  city  \
facility_id date_current
FA0010069   2019-06-13 00:00:00             4            4           4     4
            2019-10-21 00:00:00             4            4           4     4

                                 is_open  latitude_left  longitude_left  \
facility_id date_current
FA0010069   2019-06-13 00:00:00        4              4               4
            2019-10-21 00:00:00        4              4               4

                                 name_left  postal_code  review_count  ...  \
facility_id date_current                                               ...
FA0010069   2019-06-13 00:00:00          4            4             4  ...
            2019-10-21 00:00:00          4            4             4  ...

                                 address_right  latitude_right  \
facility_id date_current
FA0010069   2019-06-13 00:00:00              4               4
            2019-10-21 00:00:00              4               4

                                 longitude_right  city_id  city_name  \
facility_id date_current
FA0010069   2019-06-13 00:00:00                4        4          4
            2019-10-21 00:00:00                4        4          4

                                 zip_code  record_status  current_grade  \
facility_id date_current
FA0010069   2019-06-13 00:00:00         4              4              4
            2019-10-21 00:00:00         4              4              4

                                 inspection_count  average_demerits
facility_id date_current
FA0010069   2019-06-13 00:00:00                 4                 4
            2019-10-21 00:00:00                 4                 4

[2 rows x 23 columns]

In [41]:
business_ment_df[(business_ment_df['facility_id'] == 'FA0010069') & 
                 (business_ment_df['date_current'] == '2019-06-13 00:00:00')]

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,current_demerits,date_current,search_text
5107,3730 Las Vegas Blvd S,N7yuiiu8jhQ-Fl9Npflreg,"Thai, Restaurants",Las Vegas,1,36.106864,-115.177399,Lemongrass,89109.0,1069,...,36.107349,-115.176584,10,Las Vegas,89109,1,A,3.0,2019-06-13 00:00:00,ARIA LEMONGRASS SATAY BAR ARIA LEMONGRASS SATA...
5211,3730 Las Vegas Blvd S,TVbVii4EUQt9DG7y698zIw,"American (New), Restaurants, Breakfast & Brunc...",Las Vegas,1,36.108302,-115.176607,ARIA CafÃ©,89109.0,830,...,36.107349,-115.176584,10,Las Vegas,89109,1,A,3.0,2019-06-13 00:00:00,ARIA LIFT LOUNGE ARIA LIFT LOUNGE
5293,3730 Las Vegas Blvd S,vZLAmpN-hTI3GCT9hlHVUA,"Italian, Restaurants",Las Vegas,1,36.107199,-115.176987,Carbone,89109.0,502,...,36.107349,-115.176584,10,Las Vegas,89109,1,A,5.0,2019-06-13 00:00:00,ARIA CARBONE PREP KITCHEN ARIA CARBONE PREP KI...
8222,3730 S Las Vegas Blvd,81WMGpA8CVYlPhuhZatkXw,"Patisserie/Cake Shop, Coffee & Tea, Restaurant...",Las Vegas,1,36.107493,-115.176951,Aria Patisserie,89158.0,50,...,36.107349,-115.176584,10,Las Vegas,89109,1,A,3.0,2019-06-13 00:00:00,ARIA LIFT LOUNGE ARIA LIFT LOUNGE

### Give each inspection a time frame

Each business that had multiple inspections on different days will have multiple rows in this dataframe

Each business that had multiple inpsections on the same day will be represented as one row in this dataframe

Take the businesses with multiple rows and give the inspection a time period 

(review_start_period = previous_inspection_date, review_end_period = inspection_date)

In [42]:
group_business_df = agg_inspection_df.groupby('business_id').agg('count')
group_business_df

,address_left,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,stars,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,date_current,inspection_count,average_demerits
business_id,,,,,,,,,,,,,,,,,,,,,
-0BxAGlIk5DJAGVkpqBXxg,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-1m9o3vGRA8IBPNvNqKLmA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
-3AVh1GtLRc-HOwORLuzaQ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-8ZiMXZReeTD3kwEvS0Lww,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-95mbLJsa0CxXhpaNL4LvA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zvQIEpJUmLLmMMffNntHXQ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
zx_j6OuuHHa2afVoAZuLpA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
zyJWc8oW8JpPg2xXMQsnAA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
zya86VD24cM4EhxJQDbp8A,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
zzOo9n22fBbKAhbSpMzggA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [43]:
agg_inspection_df[agg_inspection_df['business_id'] == 'zvQIEpJUmLLmMMffNntHXQ']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,date_current,inspection_count,average_demerits
349,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,1,A,2019-09-13 00:00:00,3,0.0
352,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,2,A,2015-06-18 00:00:00,1,0.0

In [44]:
agg_inspection_df[agg_inspection_df['business_id'] == 'zvQIEpJUmLLmMMffNntHXQ']['facility_id']

349    FA0005202
352    FA0005202
Name: facility_id, dtype: object

In [45]:
establishment_df[establishment_df['facility_id'] == 'FA0005202']

,permit_number,facility_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,city_name,zip_code,nciaa,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text
3827,PR0008313,FA0005202,1006,Sam's Club #6261 Cafe,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,Y,1,A,0.0,2019-09-13 00:00:00,A,2019-09-13 00:00:00,Sam's Club #6261 Cafe Sams Club 6261 Cafe
3828,PR0008315,FA0005202,1098,Sam's Club - Seasonal Permit,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,Y,2,A,0.0,2011-05-13 00:00:00,P,2011-02-04 00:00:00,Sam's Club - Seasonal Permit Sams Club Season...
3829,PR0008317,FA0005202,1028,Sam's Club #6261 Demo Kitchen,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,Y,1,A,0.0,2019-09-13 00:00:00,A,2019-09-13 00:00:00,Sam's Club #6261 Demo Kitchen Sams Club 6261 D...
13204,PR0098404,FA0005202,1102,Sam's Club Seasonal Seafood Road Show,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,NaN,2,A,0.0,2012-06-15 00:00:00,P,2011-11-10 00:00:00,Sam's Club Seasonal Seafood Road Show Sams Clu...
15315,PR0105165,FA0005202,1102,SAMS CLUB #6261 SEASONAL (3/1/13 - 11/1/13),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,NaN,2,A,0.0,2013-04-04 00:00:00,O,2013-02-28 00:00:00,SAMS CLUB #6261 SEASONAL (3/1/13 - 11/1/13) SA...
16564,PR0109039,FA0005202,1102,SAM'S CLUB #6261 SEASONAL (12/06/13 - 08/06/14),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,NaN,2,NaN,NaN,NaN,NaN,NaN,SAM'S CLUB #6261 SEASONAL (12/06/13 - 08/06/14...
18247,PR0114154,FA0005202,1102,SAM'S CLUB #6261 SEASONAL (3/17/15 - 11/17/15),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,NaN,2,A,0.0,2015-06-18 00:00:00,O,2015-03-17 00:00:00,SAM'S CLUB #6261 SEASONAL (3/17/15 - 11/17/15)...
20111,PR0119308,FA0005202,1102,SAM'S CLUB #6261 SEAFOOD ROADSHOW SEASONAL 05/...,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,Y,2,A,0.0,2016-11-02 00:00:00,O,2016-05-19 00:00:00,SAM'S CLUB #6261 SEAFOOD ROADSHOW SEASONAL 05/...
20240,PR0119617,FA0005202,1098,SAM'S CLUB SEASONAL CAFE (6/24/16 - 10/24/16),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,NaN,2,NaN,NaN,NaN,NaN,NaN,SAM'S CLUB SEASONAL CAFE (6/24/16 - 10/24/16) ...
20990,PR0121811,FA0005202,1122,SAM'S CLUB #6261 PUSF FRESH ROADSHOW,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,89123-3218,Y,1,A,0.0,2019-09-13 00:00:00,A,2019-09-13 00:00:00,SAM'S CLUB #6261 PUSF FRESH ROADSHOW SAMS CLUB...

In [46]:
establishment_with_map_df[establishment_with_map_df['facility_id'] == 'FA0005202']

,permit_number,facility_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,city_name,...,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,business_id,address_x,name,is_valid
1317,PR0008313,FA0005202,1006,Sam's Club #6261 Cafe,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,...,A,0.0,2019-09-13 00:00:00,A,2019-09-13 00:00:00,Sam's Club #6261 Cafe Sams Club 6261 Cafe,zvQIEpJUmLLmMMffNntHXQ,1910 E. Serene,Sam's Club,y
1318,PR0008317,FA0005202,1028,Sam's Club #6261 Demo Kitchen,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,...,A,0.0,2019-09-13 00:00:00,A,2019-09-13 00:00:00,Sam's Club #6261 Demo Kitchen Sams Club 6261 D...,zvQIEpJUmLLmMMffNntHXQ,1910 E. Serene,Sam's Club,y
6346,PR0109039,FA0005202,1102,SAM'S CLUB #6261 SEASONAL (12/06/13 - 08/06/14),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,...,NaN,NaN,NaN,NaN,NaN,SAM'S CLUB #6261 SEASONAL (12/06/13 - 08/06/14...,zvQIEpJUmLLmMMffNntHXQ,1910 E. Serene,Sam's Club,y
7014,PR0114154,FA0005202,1102,SAM'S CLUB #6261 SEASONAL (3/17/15 - 11/17/15),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,...,A,0.0,2015-06-18 00:00:00,O,2015-03-17 00:00:00,SAM'S CLUB #6261 SEASONAL (3/17/15 - 11/17/15)...,zvQIEpJUmLLmMMffNntHXQ,1910 E. Serene,Sam's Club,y
7754,PR0119617,FA0005202,1098,SAM'S CLUB SEASONAL CAFE (6/24/16 - 10/24/16),Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,...,NaN,NaN,NaN,NaN,NaN,SAM'S CLUB SEASONAL CAFE (6/24/16 - 10/24/16) ...,zvQIEpJUmLLmMMffNntHXQ,1910 E. Serene,Sam's Club,y
8061,PR0121811,FA0005202,1122,SAM'S CLUB #6261 PUSF FRESH ROADSHOW,Sam's Club #6261,1910 E Serene Ave,36.023703,-115.126514,10,Las Vegas,...,A,0.0,2019-09-13 00:00:00,A,2019-09-13 00:00:00,SAM'S CLUB #6261 PUSF FRESH ROADSHOW SAMS CLUB...,zvQIEpJUmLLmMMffNntHXQ,1910 E. Serene,Sam's Club,y

In [47]:
business_ment_df[business_ment_df['facility_id'] == 'FA0005202']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,current_demerits,date_current,search_text
349,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,1,A,0.0,2019-09-13 00:00:00,Sam's Club #6261 Cafe Sams Club 6261 Cafe
350,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,1,A,0.0,2019-09-13 00:00:00,Sam's Club #6261 Demo Kitchen Sams Club 6261 D...
352,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,2,A,0.0,2015-06-18 00:00:00,SAM'S CLUB #6261 SEASONAL (3/17/15 - 11/17/15)...
354,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,1,A,0.0,2019-09-13 00:00:00,SAM'S CLUB #6261 PUSF FRESH ROADSHOW SAMS CLUB...

In [48]:
agg_inspection_df[agg_inspection_df['business_id'] == 'zvQIEpJUmLLmMMffNntHXQ']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,date_current,inspection_count,average_demerits
349,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,1,A,2019-09-13 00:00:00,3,0.0
352,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,2,A,2015-06-18 00:00:00,1,0.0

In [49]:
group_business_df.inspection_count.value_counts()

1     4494
2      789
3      142
4       51
5       13
6       12
7        6
8        5
9        3
17       2
27       2
14       1
10       1
19       1
13       1
11       1
12       1
Name: inspection_count, dtype: int64

In [50]:
group_business_df.inspection_count.mean()

1.2877828054298643

In [51]:
agg_inspection_df[agg_inspection_df['business_id'] == 'zvQIEpJUmLLmMMffNntHXQ']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,latitude_right,longitude_right,city_id,city_name,zip_code,record_status,current_grade,date_current,inspection_count,average_demerits
349,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,1,A,2019-09-13 00:00:00,3,0.0
352,1910 E. Serene,zvQIEpJUmLLmMMffNntHXQ,"Fashion, Wholesale Stores, Automotive, Shoppin...",Las Vegas,1,36.023565,-115.126592,Sam's Club,89123.0,125,...,36.023703,-115.126514,10,Las Vegas,89123-3218,2,A,2015-06-18 00:00:00,1,0.0

In [57]:
# from datetime import datetime, timedelta

agg_inspection_df = agg_inspection_df.rename(columns={'date_current': 'review_end_date'})
agg_inspection_df['review_end_date'] = pd.to_datetime(agg_inspection_df['review_end_date'])

In [58]:
agg_inspection_df['review_end_date'][0]

Timestamp('2011-02-01 00:00:00')

In [60]:
# Naive way to create the date range
agg_inspection_df['review_start_date'] = agg_inspection_df['review_end_date'] - pd.Timedelta(days = 90)

In [61]:
agg_inspection_df.head()

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,longitude_right,city_id,city_name,zip_code,record_status,current_grade,review_end_date,inspection_count,average_demerits,review_start_date
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,-115.128564,10,Las Vegas,89119-6529,2,A,2011-02-01,2,7.0,2010-11-03
2,6055 E Lake Mead Blvd,tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,...,-115.040472,10,Las Vegas,89156-7801,1,A,2019-04-16,1,6.0,2019-01-16
3,4190 N Pecos Rd,NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,1,36.236053,-115.096454,Three Square,89115.0,44,...,-115.096567,10,Las Vegas,89115,2,A,2019-01-22,1,3.0,2018-10-24
4,6125 Spring Mountain Rd,kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,0,36.125031,-115.225620,Dairy Queen,89146.0,33,...,-115.225620,10,Las Vegas,89146-8802,2,A,2016-03-10,1,10.0,2015-12-11
5,3650 E Flamingo Rd,YK5eFV8uS1bCmp8GeiQ-Qg,"Food, Donuts",Las Vegas,0,36.115813,-115.095457,All Star Donuts & Kolaches,89121.0,6,...,-115.095320,10,Las Vegas,89121-4934,2,A,2012-01-24,1,10.0,2011-10-26

### Introduce the reviews data

In [62]:
import json

reviews = []

with open(file_path + "data/review.json", encoding='utf8') as file:
    for line in file:
        reviews.append(json.loads(line))
        
reviews_df = pd.DataFrame(reviews)

In [63]:
reviews_df.shape

(6685900, 9)

In [64]:
full_df = reviews_df.merge(agg_inspection_df, how='inner', on=['business_id'])

In [65]:
full_df.shape

(1478668, 34)

In [67]:
full_df['date'] = pd.to_datetime(full_df['date'])

In [68]:
full_df[(full_df['date'] > full_df['review_start_date']) & (full_df['date'] < full_df['review_end_date'])]

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,address_left,...,longitude_right,city_id,city_name,zip_code,record_status,current_grade,review_end_date,inspection_count,average_demerits,review_start_date
1374,1k7msolVj1iETvTdQLOIBA,_J9jP4aynn00EaPfDkzIVQ,dm6sO_Y8JdKTE1ZM955yug,5.0,0,0,0,Came for a birthday party. Food was excellent...,2018-03-24 03:59:08,"3400 S Jones Blvd, Ste 11A",...,-115.224069,10,Las Vegas,89146,2,A,2018-04-04,1,9.0,2018-01-04
1449,m5l55BJA9WDEyfpUE6fKOQ,90Go9OZhKs-5jpagYY8N3Q,dm6sO_Y8JdKTE1ZM955yug,3.0,0,0,0,Walked in and was overpowered by intense bathr...,2018-01-12 01:48:08,"3400 S Jones Blvd, Ste 11A",...,-115.224069,10,Las Vegas,89146,2,A,2018-04-04,1,9.0,2018-01-04
1474,1uw77p9xluYXKxFl6jjIRg,9sEjRiknrIK5lkeUUatiPg,dm6sO_Y8JdKTE1ZM955yug,3.0,0,0,0,Went here with a friend who ordered fried rice...,2018-02-04 09:11:58,"3400 S Jones Blvd, Ste 11A",...,-115.224069,10,Las Vegas,89146,2,A,2018-04-04,1,9.0,2018-01-04
1484,aWkpeKiugJXwoEXb_qn_jQ,D9m4JQ7bM-or5sw54L5Dhg,dm6sO_Y8JdKTE1ZM955yug,5.0,3,1,1,What's a tired-from-work Vegan couple supposed...,2018-02-14 08:53:59,"3400 S Jones Blvd, Ste 11A",...,-115.224069,10,Las Vegas,89146,2,A,2018-04-04,1,9.0,2018-01-04
1492,mlQkoaHNX7ZELEM1JtacyQ,1e9WJsqkn9y8JehgcsHcyw,dm6sO_Y8JdKTE1ZM955yug,4.0,0,0,0,Love the authentic taste of this Thai Restaura...,2018-01-24 03:45:50,"3400 S Jones Blvd, Ste 11A",...,-115.224069,10,Las Vegas,89146,2,A,2018-04-04,1,9.0,2018-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478467,i6SWrQcfoluahH8vUN48uw,6QmLTkRhQaY3WXTGHeL5vQ,WlL0mmy8Y-BRqFjBdsQ6bQ,4.0,1,0,0,My son adored the Strawberry Lemonade cupcake!...,2012-12-03 16:10:16,"2550 Anthem Village Dr, Ste 190",...,-115.098481,7,Henderson,89052,2,B,2013-01-17,1,16.0,2012-10-19
1478468,Z_1UTxCFkZ06APaw90LRUg,2EuPAGalYnP7eSxPgFCNDg,WlL0mmy8Y-BRqFjBdsQ6bQ,3.0,2,1,1,I saw photos posted of some really elaborate d...,2013-01-14 04:59:29,"2550 Anthem Village Dr, Ste 190",...,-115.098481,7,Henderson,89052,2,B,2013-01-17,1,16.0,2012-10-19
1478492,Av3jcIO285t94cXmpF7UBQ,UIHs_UTuKnbxW_2dMnbrXg,mS_9gtI0Yw6m9DYrzgC8hQ,5.0,0,0,0,I got mango smoothie and my friend got the wet...,2013-06-29 20:56:43,"6620 W Flamingo Rd, Ste 9",...,-115.236638,10,Las Vegas,89103,2,A,2013-07-16,1,3.0,2013-04-17
1478521,iQMpEZYbAbCl1lppmB_giA,7IRSqu-tNhfgXZ4iU5NKgQ,XGr23OTr51qYJ-kSFMzTUA,2.0,0,0,0,I've gone here before to sit down and eat and ...,2011-04-20 21:11:50,303 Water St,...,-114.979131,7,Henderson,89015-7310,2,A,2011-04-28,1,4.0,2011-01-28
1478522,_f3OyWSNTuO-lOuYMQPc7A,DPtOaWemjBPvFiZJBi0m8A,XGr23OTr51qYJ-kSFMzTUA,3.0,2,0,0,Patronized Daisy's for lunch. Wanted to do so...,2011-04-14 00:13:35,303 Water St,...,-114.979131,7,Henderson,89015-7310,2,A,2011-04-28,1,4.0,2011-01-28

In [ ]:
len(full_df.loc[:, ["facility_id", "date_current"]].drop_duplicates())

In [ ]:
len(full_df) / len(full_df.loc[:, ["facility_id", "date_current"]].drop_duplicates())

In [ ]:
count_df = full_df.groupby(['facility_id', 'date_current']).agg('count')

In [ ]:
count_df.head()

In [ ]:
len(business_ment_df.facility_id.unique())

In [ ]:
import matplotlib.pyplot as plt

plt.hist(count_df['review_id'], bins='auto')
plt.show()

In [ ]:
count_df.review_id.value_counts()

In [ ]:
count_df[count_df['review_id'] == 22829]

In [ ]:
full_df[full_df['facility_id'] == 'FA0006647']

### Do something about the overlapping dates

I think what I want to do is group by the facility id and date and then aggregate the inspection grade.

In [ ]:
business_ment_df

In [ ]:
business_ment_df.drop(columns=['Unnamed: 0', 'Unnamed: 21'], inplace=True)

In [ ]:
business_ment_df.head()

In [ ]:
avg_demerits_df = business_ment_df.groupby(['facility_id', 'date_current']).agg({'current_demerits': 'mean'})

In [ ]:
avg_demerits_df.shape

In [ ]:
avg_demerits_df.head()

In [ ]:
business_ment_df.groupby(['facility_id']).agg({'date_current': 'count'})

In [ ]:
business_ment_df.groupby(['facility_id']).agg({'date_current': pd.Series.nunique})

In [ ]:
from datetime import datetime, timedelta

time_diff = timedelta(days=30)

unique_inspections = business_ment_df.groupby(['facility_id']).agg({'date_current': pd.Series.nunique})
facility_multiple_inspections = unique_inspections[unique_inspections['date_current'] > 1].index

In [ ]:
#TODO: just apply the strptime function to the whole column

for facility in facility_multiple_inspections:
    facility_rows = business_ment_df[business_ment_df['facility_id'] == facility]
    inspection_dates = [datetime.strptime(x, '%Y-%m-%d %H:%M:%S') for x in 
                        sorted(facility_rows['date_current'].drop_duplicates().tolist())]

    for idx, date in enumerate(inspection_dates):
        if idx == len(inspection_dates) - 1:
            print("idx limit", False)
        else:
            if (date + time_diff) > inspection_dates[idx + 1]:
                print(date + time_diff, inspection_dates[idx + 1], True)
            else:
                print(False)

In [ ]:
business_ment_df[business_ment_df['facility_id'] == facility_multiple_inspections[2]]

In [ ]:
business_ment_df.

In [ ]:
sum(business_ment_df.groupby(['facility_id']).agg({'date_current': pd.Series.nunique}).date_current) / len(business_ment_df.groupby(['facility_id']).agg({'date_current': pd.Series.nunique}).date_current)

In [ ]:
sum(business_ment_df.groupby(['facility_id']).agg({'date_current': 'count'}).date_current) / len(business_ment_df.groupby(['facility_id']).agg({'date_current': 'count'}).date_current)

In [ ]:
sum(business_ment_df.groupby(['business_id']).agg({'facility_id': 'count'}).facility_id) / len(business_ment_df.groupby(['business_id']).agg({'facility_id': pd.Series.nunique}).facility_id)