## Business and Review Datasets

In [2]:
import pandas as pd

In [ ]:
business_data = pd.read_json(r"C:\Users\abdul\desktop\yelp\business.json", lines=True)
business_data.to_csv(r"C:\Users\abdul\desktop\business.csv", encoding='utf-8', index=False)

In [3]:
print(business_data.head())

              business_id                             name  \
0  1SWheh84yJXfytovILXOAQ       Arizona Biltmore Golf Club
1  QXAEGFB4oINsVuTFxEYKFQ       Emerald Chinese Restaurant
2  gnKjwL_1w79qoiV3IC_xQQ      Musashi Japanese Restaurant
3  xvX2CttrVhyG2z1dFg_0xw  Farmers Insurance - Paul Lorenz
4  HhyxOkGAM07SRYtlQ4wMFQ              Queen City Plumbing

                          address         city state postal_code   latitude  \
0     2818 E Camino Acequia Drive      Phoenix    AZ       85016  33.522143
1            30 Eglinton Avenue W  Mississauga    ON     L5R 3E7  43.605499
2       10110 Johnston Rd, Ste 15    Charlotte    NC       28210  35.092564
3   15655 W Roosevelt St, Ste 237     Goodyear    AZ       85338  33.455613
4  4209 Stuart Andrew Blvd, Ste F    Charlotte    NC       28217  35.190012

    longitude  stars  review_count  is_open  \
0 -112.018481    3.0             5        0
1  -79.652289    2.5           128        1
2  -80.859132    4.0           170        1
3 -112.395596    5.0             3        1
4  -80.887223    4.0             4        1

                                          attributes  \
0                           {'GoodForKids': 'False'}
1  {'RestaurantsReservations': 'True', 'GoodForMe...
2  {'GoodForKids': 'True', 'NoiseLevel': 'u'avera...
3                                               None
4  {'BusinessAcceptsBitcoin': 'False', 'ByAppoint...

                                          categories  \
0                                  Golf, Active Life
1  Specialty Food, Restaurants, Dim Sum, Imported...
2                  Sushi Bars, Restaurants, Japanese
3                      Insurance, Financial Services
4  Plumbing, Shopping, Local Services, Home Servi...

                                               hours
0                                               None
1  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
2  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
3  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
4  {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...

In [4]:
print(business_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192609 entries, 0 to 192608
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   192609 non-null  object
 1   name          192609 non-null  object
 2   address       192609 non-null  object
 3   city          192609 non-null  object
 4   state         192609 non-null  object
 5   postal_code   192609 non-null  object
 6   latitude      192609 non-null  float64
 7   longitude     192609 non-null  float64
 8   stars         192609 non-null  float64
 9   review_count  192609 non-null  int64
 10  is_open       192609 non-null  int64
 11  attributes    163773 non-null  object
 12  categories    192127 non-null  object
 13  hours         147779 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 20.6+ MB
None

In [5]:
business_data['state'].value_counts()

AZ     56686
NV     36312
ON     33412
NC     14720
OH     14697
PA     11216
QC      9219
AB      8012
WI      5154
IL      1932
SC      1162
NY        22
CA        19
TX         6
XGM        4
FL         4
AL         3
CT         3
WA         3
XWY        2
AK         2
VA         2
GA         2
NE         2
VT         2
BAS        1
DUR        1
CON        1
AR         1
XGL        1
NJ         1
BC         1
DOW        1
NM         1
TN         1
UT         1
Name: state, dtype: int64

In [9]:
business_data['city'].value_counts().head(30)

Las Vegas          29370
Toronto            18906
Phoenix            18766
Charlotte           9509
Scottsdale          8837
Calgary             7736
Pittsburgh          7017
Montr√©al            6449
Mesa                6080
Henderson           4892
Tempe               4550
Chandler            4309
Cleveland           3605
Glendale            3543
Madison             3494
Gilbert             3462
Mississauga         3112
Peoria              1919
Markham             1766
North Las Vegas     1548
Champaign           1262
North York          1205
Surprise            1148
Scarborough         1103
Richmond Hill       1026
Brampton            1002
Concord              990
Vaughan              919
Goodyear             855
Etobicoke            793
Name: city, dtype: int64

In [4]:
import json
import pandas as pd
reviews = []

with open(r"C:\Users\abdul\desktop\yelp\review.json", encoding='utf8') as file:
    for line in file:
        reviews.append(json.loads(line))
        
review_df = pd.DataFrame(reviews)
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [31]:
review_df.to_csv(r"C:\Users\abdul\desktop\review.csv", encoding='utf-8', index=False)

NameError: name 'review_df' is not defined

In [32]:
df = pd.read_csv(r"C:\Users\abdul\desktop\review.csv")
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [33]:
pd.to_datetime(df.date)

0         2013-05-07 04:34:36
1         2017-01-14 21:30:33
2         2016-11-09 20:09:03
3         2018-01-09 20:56:38
4         2018-01-30 23:07:38
                  ...
6685895   2018-07-03 12:17:27
6685896   2013-05-22 15:32:08
6685897   2018-11-13 21:15:20
6685898   2018-08-13 18:09:16
6685899   2018-11-12 20:25:32
Name: date, Length: 6685900, dtype: datetime64[ns]

In [34]:
new = df[df.business_id == "ujmEBvifdJM6h6RLv4wQIg"]

In [36]:
new = new.sort_values('date')

In [38]:
new.tail(50)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
242897,c5J5lrWDJHmIX-M44-omHw,4NpBIrOBy-d8xGkg7DAIYQ,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,"Awesome hospital was there on 2012 , for my so...",2018-01-26 01:30:26
287358,pfKJQO9azSOyof5AhxdVAg,vl3xdjqA_0o_-ZG_mmqrqw,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,My cousin went to Mountainview for emergency s...,2018-01-27 05:05:00
346617,pKkTACs9eRUMIm6juiJo4g,Eq0LSnNjI5TeNj-uxtFOHg,ujmEBvifdJM6h6RLv4wQIg,1.0,5,1,0,ER in this hospital is just terrible. 2 years ...,2018-01-28 03:37:32
287571,_wFG4KOmW-ly3lCbFhmcEw,tJxWJneIK_Uyqw8fJYPCQw,ujmEBvifdJM6h6RLv4wQIg,2.0,2,0,0,My wife had a potential life threatening asthm...,2018-02-06 16:04:36
595715,yurxTi9v0IE1lOb6XDcukQ,9buV4R83SPaE5THyTNkubg,ujmEBvifdJM6h6RLv4wQIg,1.0,4,1,1,Do not go to this hospital if you want to LIVE...,2018-02-09 16:54:05
465111,yjpyx1nAagk1W3Ctl1pQEA,e5DiUp9Xgvg8ilpasRt_hA,ujmEBvifdJM6h6RLv4wQIg,4.0,0,1,0,I was at Mountain View hospital for my surgery...,2018-02-21 06:29:17
456393,cxVmP49jT60PGEt3vGdYqg,KjLGuyBVe9djM4DxYJs0-w,ujmEBvifdJM6h6RLv4wQIg,1.0,5,0,0,Got to the ER@8pm.Its is now 1am and my husban...,2018-03-21 08:04:56
627432,uInPUuEwOF0fbh1QOB3i0Q,7l1Wy8Lh5wKVhIT3G4mPVQ,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,The worst service. The worst 3rd world nursing...,2018-04-03 03:06:01
270949,ZwwwPxoT8XiYdASztbrqRA,9QvO3REQDaiacQLLnWxUiA,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,"Emergency services here are a joke, they actua...",2018-04-09 07:37:14
479981,QvhEukgW1CM-YuDuCA2_QQ,XfdYNSPsEmyweE5dYlxj_A,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,Was sceptical after reading reviews but decide...,2018-04-22 21:29:03
458396,7QBaH1qydIi1FN6ARtiFiw,ay4OOkC1-xWrUX7y08okcA,ujmEBvifdJM6h6RLv4wQIg,2.0,4,0,0,They where great a couple of months ago when m...,2018-04-24 03:09:01
532802,auv7nRt3vWNyYryqHkJh6A,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,If you are Deaf/deaf/HOH do not come to this h...,2018-04-24 19:12:49
522977,qnv3QdjXheYBJOYxq4w9kg,FGMh6kUnR_BYNCq7sgqQnw,ujmEBvifdJM6h6RLv4wQIg,1.0,4,0,0,Do NOT go to this ER as a walk-in. Maybe you w...,2018-04-27 05:42:49
6864,Pm6qydbW58BB0zdWCPlBmg,Skzdl0sWhW88525a1vr59g,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,"Went in for a broken finger, was asked if I wa...",2018-05-08 19:27:59
119390,5uhMtxL12IQl-PH1kls1FA,hSTQa4VovgWTil21ONgCng,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,"Everything was efficient and professional, and...",2018-05-10 16:30:16
124143,pQFevU5KZqmLQVUyZocNRA,8RaAPsHIYnGSSjUiWZ38CQ,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,"Awful communication between staff, security, a...",2018-05-10 21:40:31
410357,a8CiyvUJ-iRuoj65bzKVhg,R9Bm86DXed10xMvhJrcDdQ,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,I came into this hospital in excruciating agon...,2018-05-18 02:48:15
98633,jcyGlsxGpZ4U5ESfEOMM_g,upNep4Q2mMownruMWtUVGA,ujmEBvifdJM6h6RLv4wQIg,4.0,3,2,1,Ok I've been in and out of this hospital count...,2018-05-20 21:14:53
327599,z9A6jXX8TQnfcCs-DV5Cig,xv_TejhP-kC3yE1MfJEl8w,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,The nursing staff at MountainView hospital wer...,2018-05-24 18:26:34
380036,jeGvBgPmUo_iXSlhdS4AxQ,0ZpneAMCGI8vahkKBifFag,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,This is a great hospital. I come here for emer...,2018-05-25 19:14:37
617630,DkRh09tPv0L7ajNz3Fo9pQ,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,Have started to get bills for this visit. Beca...,2018-06-08 16:43:41
236953,CgCf33b097tAOb9fRmxpEg,ojUmQAg6v3a4PLnrZXnn6A,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,My wife had a baby at MountainView in May and ...,2018-06-12 21:39:16
527732,8F7mgN8ydn8YCKthe1DJ6Q,wRGsi90kI0g2ModMB_4RLQ,ujmEBvifdJM6h6RLv4wQIg,4.0,0,0,0,My son was at Mountain View Hospital approxima...,2018-06-24 16:53:59
290404,pZ9tI12beJEX-z4-QaQT3A,uuDnH2Q10BR8uQN-B7tNnw,ujmEBvifdJM6h6RLv4wQIg,4.0,1,0,1,The doctors here are amazing. I came in at 8 c...,2018-06-24 20:23:07
191094,vO_iH6ci-REZoPahnHYuIw,5g3xeG3LbZIg6M6Sztvx-g,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,Came to the labor and delivery at 38 weeks hop...,2018-06-29 16:57:59
485368,xP2C15MKYmpgQPvK17aUyQ,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,Have started to get bills for this visit. Beca...,2018-07-03 15:23:47
120983,YSgAIigv3v_9JZsbHgZu6g,BOoXITStv6nD-V8FIsfkXA,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,We went to the ER for my daughter today and I ...,2018-07-20 05:01:35
309470,ZFjhLz-I-nEVcrmEGoUJ6A,d-rAu07yZBvccumrDWZDEA,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,Their security guard assaulted me and tried to...,2018-07-22 04:27:15
182743,EA2lZJCk67U5U8ERlQTSuQ,XUi14pMmFI9lBD61zYzejg,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,"Unfortunately, as a 40 year old male I had my ...",2018-07-28 16:55:49
5998,kEs5u0cGPtiSQCLW7b0l9g,x3brMMbJrAW9PwW5A6YL5w,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,I have never been more disappointed by the car...,2018-08-14 05:25:33
338084,Psh2CjmtoQWARc_3L0jAvw,IyFC1V-bH971zp5bXc-KGA,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,If you want to die pick this hospital. My mom ...,2018-08-19 06:29:25
580264,woEdqYMKtq4DhAMwremryA,CsDWHXSc-3vaxW90-itGaw,ujmEBvifdJM6h6RLv4wQIg,2.0,1,1,0,Drs are great the emergency room is great and ...,2018-08-20 00:53:21
91938,lUVVyXY3Wpd0rT7fnHw7pw,0Fboqis5kwMVEsAoJp41YQ,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,FIVE STARS for this hospital I was in the labo...,2018-08-25 20:49:35
370152,G507rmABe1YbSLGUQ91VEg,IDB_lNr1wQ1khSXVxY12lw,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,"All the staff are so fast, efficient, respectf...",2018-08-29 16:06:11
296037,WzDO6r8c1DZJlhZmMQYvxg,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,Just got off the phone with radiology speciali...,2018-08-29 17:58:30
337440,z0UkpFtoIwVOTzthjtq-Bg,HJzKLRGilKNUYpQym2vFCQ,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,Been stuck in the ER for hours.my wife had tes...,2018-08-29 21:09:45
67110,uvBR7RQrZtk3cGCVeRfuqw,BQ9g1GNwMgtvzOp18gKGTg,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I am an oncology patient and I have just compl...,2018-09-03 19:12:55
164076,TYimr0srOvczcYjBsbGwzw,8oRDqvGU1LN15JjrE_xhwA,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I had a procedure here which required me to be...,2018-09-07 13:19:12
345569,JdmsdyiKOvRyRU5Q6Zn63w,yOMZeTXJtYXAHWue5Rx_mg,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,The worst fucking hospital I have ever known.....,2018-09-11 00:52:41
551425,P9VoV8O6eWZjqUptPPzmVA,isECmx9e7qZ3nWEfBeNglw,ujmEBvifdJM6h6RLv4wQIg,2.0,0,0,0,"I saw 9 different staff members, 10 including ...",2018-09-21 22:35:05
595759,EtkYfZqsW6SaXM5SdpsSfQ,D8R1Zf7N8mp_ktdWYdRnlA,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I had both of my children here and was absolut...,2018-09-25 01:14:27
125521,6bGUNtdVBantgFIuj-huSg,-cKU64LIVr9ekjmBXYxzGw,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,The labor& delivery & postpartum unit here is ...,2018-09-28 12:04:18
595610,F8m6VnyZEKAGPiT535_4TQ,Hmo9AY2JdZejG5LkLRLU8g,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,Doctor's will not spend more than 30 seconds w...,2018-10-02 00:24:30
638160,cCxS3x3g3uJAu8nqqkxoNA,N2pQoq8PAfDEzTNNqUscZg,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,Had double hernia surgery in September 2018. I...,2018-10-18 03:05:48
587769,7DuGAZxEXKLlMc8ieX1t1Q,-1x8gXJnrI-FeZPNvnfbRg,ujmEBvifdJM6h6RLv4wQIg,2.0,0,0,0,(Amusing Review worth reading) This is Prime ...,2018-10-19 20:25:01
634258,qnvEhG2o2Y5xyKL4WaSmvQ,OMR_4MgVsZ2rtAC9iPrTSw,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I had two back surgeries this summer. One at ...,2018-10-30 04:11:02
623115,Grj_ur8eff7Wu3qU1ALIkQ,d_lsGHWZwSDNWtSvvmfURQ,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,I came into mountain view hospital a month ago...,2018-10-30 06:20:27
639058,eV551itH41V3m6FXdmLZwA,KxIQkqoA79Jky4tg8hUC2g,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,DONT COME HERE THE NURSES HAVE NO CLUE WHAT TH...,2018-10-31 05:50:56
582256,1UsUbSXuLVZXImJ4ZAesUg,5lhORmkta9b4RzCLdzoq1w,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,For Dr. Paul W. Nelson And His Associates \n\n...,2018-11-07 19:11:33
561395,pusJ6EKVQVxox7tA0L9SSA,1kXHsplFug2x_u-6Jw5rig,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,We are here at this hospital disgusted with th...,2018-11-14 06:12:10

### Combining necessary datasets in the Inspection Data

In [3]:
Inspections = pd.read_csv(r"C:/Users/abdul/Desktop/restaurant_inspections.csv", delimiter=";")

In [4]:
Inspections.head(10)

,serial_number,permit_number,facility_id,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,permit_status,inspection_result,violations,record_updated,Unnamed: 15
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,A,NaN,Compliant,113,2013-02-21 22:26:12,NaN
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,C,NaN,C Downgrade,"12,14,21,22,25,26,27,28,30,31,36,37,64,111,112...",2013-02-21 22:26:12,NaN
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,A,NaN,Compliant,NaN,2013-02-21 22:26:12,NaN
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,A,NaN,Compliant,"4,64",2013-02-21 22:26:12,NaN
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,A,NaN,Compliant,"31,35,37",2013-02-21 22:26:12,NaN
5,DA0001128,PR0000411,FA0002433,NaN,2008-01-14 00:00:00,2008-01-14 11:15:00,EE7000832,916,10.0,A,A,NaN,Compliant,"34,37,64",2013-02-21 22:26:12,NaN
6,DA0001129,PR0000411,FA0002433,NaN,2008-10-07 00:00:00,2008-10-07 12:10:00,EE7000832,916,5.0,A,A,NaN,Compliant,"13,19,31",2013-02-21 22:26:12,NaN
7,DA0001130,PR0000411,FA0002433,NaN,2009-08-25 00:00:00,2009-08-25 11:25:00,EE7000832,916,6.0,A,A,NaN,Compliant,"35,36,112",2013-02-21 22:26:12,NaN
8,DA0001131,PR0000411,FA0002433,NaN,2010-03-30 00:00:00,2010-03-30 11:30:00,EE7000392,916,18.0,B,B,NaN,B Downgrade,"4,9,12,27,31,112",2013-02-21 22:26:12,NaN
9,DA0001132,PR0000411,FA0002433,NaN,2010-04-13 00:00:00,2010-04-13 11:15:00,EE7000392,916,1.0,A,A,NaN,Compliant,37,2013-02-21 22:26:12,NaN

In [5]:
# Cleaning
Inspections.drop(columns=["Unnamed: 15"], axis=1, inplace=True)

In [6]:
# Because this is the main data, we have to maintain this number of rows
Inspections.shape

(261892, 15)

In [7]:
# Reading inspection type data
Inspection_types = pd.read_csv(r"C:/Users/abdul/Desktop/restaurant_inspection_types.csv", delimiter=";")

In [8]:
Inspection_types.head()

   inspection_type_id                inspection_type  Unnamed: 2
0                 604  Epidemiological Investigation         NaN
1                 902        Complaint Investigation         NaN
2                 914                  Re-inspection         NaN
3                 916             Routine Inspection         NaN
4                 918     Special Request Inspection         NaN

In [9]:
# cleaning
Inspection_types.drop(Inspection_types.columns[2], axis=1, inplace=True)
Inspection_types.head()

   inspection_type_id                inspection_type
0                 604  Epidemiological Investigation
1                 902        Complaint Investigation
2                 914                  Re-inspection
3                 916             Routine Inspection
4                 918     Special Request Inspection

In [10]:
# performing a join to get inspection types
Inspections = pd.merge(Inspections, Inspection_types, on="inspection_type_id")

In [11]:
Inspections.head()

,serial_number,permit_number,facility_id,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,permit_status,inspection_result,violations,record_updated,inspection_type
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,A,NaN,Compliant,113,2013-02-21 22:26:12,Routine Inspection
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,C,NaN,C Downgrade,"12,14,21,22,25,26,27,28,30,31,36,37,64,111,112...",2013-02-21 22:26:12,Routine Inspection
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,A,NaN,Compliant,NaN,2013-02-21 22:26:12,Routine Inspection
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,A,NaN,Compliant,"4,64",2013-02-21 22:26:12,Routine Inspection
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,A,NaN,Compliant,"31,35,37",2013-02-21 22:26:12,Routine Inspection

In [12]:
# confirming shape
Inspections.shape

(261892, 16)

In [13]:
# Getting establishment info
Establishments = pd.read_csv(r"C:/Users/abdul/Desktop/restaurant_establishments.csv", delimiter=";")

In [14]:
Establishments.head()

,permit_number,facility_id,owner_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,...,nciaa,plan_review,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,Unnamed: 21
0,PR0000002,FA0002677,NaN,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,...,Y,NaN,1,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL,NaN
1,PR0000003,FA0002678,NaN,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159439,-115.079751,10,...,Y,NaN,1,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724,NaN
2,PR0000004,FA0002679,NaN,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,...,Y,NaN,1,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965,NaN
3,PR0000005,FA0002680,NaN,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,...,Y,NaN,1,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922,NaN
4,PR0000006,FA0002681,NaN,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,...,Y,NaN,1,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA,NaN

In [15]:
# cleaning
Establishments.drop(columns=["Unnamed: 21"], inplace=True)

In [16]:
Establishments.shape

(26145, 21)

In [17]:
Establishments.head()

,permit_number,facility_id,owner_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,...,zip_code,nciaa,plan_review,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text
0,PR0000002,FA0002677,NaN,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,...,89101-5600,Y,NaN,1,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL
1,PR0000003,FA0002678,NaN,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159439,-115.079751,10,...,89104-5506,Y,NaN,1,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724
2,PR0000004,FA0002679,NaN,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,...,89130-3302,Y,NaN,1,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965
3,PR0000005,FA0002680,NaN,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,...,89108-7049,Y,NaN,1,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922
4,PR0000006,FA0002681,NaN,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,...,89101-6370,Y,NaN,1,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA

In [18]:
# adding establishment info to the main data(Inspections)
Inspections = pd.merge(Inspections, Establishments[["permit_number", "facility_id", "PE", "restaurant_name", "location_name",
                                                   "address", "longitude", "latitude", "city_id", "city_name", 
                                                    "zip_code", "nciaa"]], on="permit_number", how="left")

In [19]:
Inspections.head()

,serial_number,permit_number,facility_id_x,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,...,PE,restaurant_name,location_name,address,longitude,latitude,city_id,city_name,zip_code,nciaa
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y

In [20]:
# confirming shape
Inspections.shape

(261892, 27)

#### I believe this is as much as we need from the Inspection datasets. I will proceed to joining with reviews and business datasets soon.

### Joining reviews and business datasets

In [39]:
df_business = pd.read_csv(r"C:/Users/abdul/Desktop/business.csv")

In [40]:
# business data
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",NaN
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,NaN,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

In [42]:
# reviews data
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [43]:
# combining business and reviews datasets
yelp = pd.merge(df, df_business, how="left", on="business_id", suffixes=["", "_b"])

In [45]:
yelp.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_b,review_count,is_open,attributes,categories,hours
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36,MountainView Hospital,...,NV,89128,36.215546,-115.248798,2.5,238,1,"{'ByAppointmentOnly': 'False', 'GoodForKids': ...","Fitness & Instruction, Doctors, Health & Medic...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33,Kelly Cardenas Salon - Hard Rock Hotel & Casino,...,NV,89169,36.110083,-115.153871,4.5,66,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Beauty & Spas, Hair Stylists, Makeup Artists, ...","{'Monday': '10:0-17:0', 'Tuesday': '10:0-19:0'..."
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03,J. Philipp Centers for Family and Cosmetic Den...,...,AZ,85286,33.259702,-111.790203,3.5,39,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Health & Medical, Cosmetic Dentists, Orthodont...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-17:0', '..."
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38,Regal Beagle Pub,...,AB,T2J 3G8,50.969721,-114.070115,3.0,13,1,"{'HasTV': 'True', 'RestaurantsReservations': '...","Bars, Pubs, Nightlife, Tapas Bars, Restaurants",NaN
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38,White Teeth AZ,...,AZ,85251,33.496713,-111.927958,4.5,75,1,"{'WheelchairAccessible': 'False', 'BusinessAcc...","Teeth Whitening, Beauty & Spas","{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'..."

In [46]:
# Inspections data
Inspections.head()

,serial_number,permit_number,facility_id_x,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,...,PE,restaurant_name,location_name,address,longitude,latitude,city_id,city_name,zip_code,nciaa
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y

In [47]:
Inspections.columns

Index(['serial_number', 'permit_number', 'facility_id_x', 'owner_id',
       'inspection_date', 'inspection_time', 'employee_id',
       'inspection_type_id', 'inspection_demerits', 'inspection_grade',
       'inspection_grade_new', 'permit_status', 'inspection_result',
       'violations', 'record_updated', 'inspection_type', 'facility_id_y',
       'PE', 'restaurant_name', 'location_name', 'address', 'longitude',
       'latitude', 'city_id', 'city_name', 'zip_code', 'nciaa'],
      dtype='object')

In [48]:
# some data cleaning
Inspections.drop(columns=["facility_id_y"], inplace=True)

In [61]:
# owner ID is empty and not needed
Inspections.owner_id.isna().sum()

261892

In [62]:
Inspections.drop(columns=["owner_id"], inplace=True)

In [49]:
yelp.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_b', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [64]:
Inspections.city_name.value_counts()

Las Vegas             210056
Henderson              23745
North Las Vegas        15212
Laughlin                4488
Mesquite                2863
Boulder City            2055
Primm                   1433
Searchlight              253
Overton                  239
Jean                     228
Blue Diamond             139
Logandale                126
Indian Springs           124
Moapa                     82
Sandy Valley              78
Goodsprings               75
Cal-Nev-Ari               36
Coyote Springs            31
Bunkerville               30
Mount Charleston          30
Spring Valley Mtns        16
Pahrump                   15
HENDERSON                 12
Salt Lake City             9
Palm Gardens               4
Shoshone                   4
Summerlin                  3
Apple Valley               3
San Diego                  3
Hansen                     3
Las VGAS                   1
Bakersfield                1
Paradise Valley            1
Arlington                  1
St George                  1
La VeGAS                   1
Beaver Dam                 1
Spokane                    1
Name: city_name, dtype: int64

In [67]:
yelp.city.value_counts().head(20)

Las Vegas          2030798
Phoenix             734136
Toronto             525437
Scottsdale          387550
Charlotte           309425
Pittsburgh          225496
Henderson           219880
Tempe               202074
Mesa                168311
Chandler            157581
Montr√©al            151238
Gilbert             129057
Cleveland           114389
Madison             104637
Glendale            100303
Calgary              97650
Peoria               57857
Mississauga          55585
Markham              51296
North Las Vegas      50954
Name: city, dtype: int64

In [73]:
# Since we have North Las vegas and Las vegas appearing in both datasets we can
# consider North Las vegas too as a city to work with
Inspections = Inspections.loc[(Inspections.city_name == "Las Vegas") | (Inspections.city_name == "North Las Vegas")]

In [75]:
Inspections.shape

(225268, 25)

In [76]:
yelp = yelp.loc[(yelp.city == "Las Vegas") | (yelp.city == "North Las Vegas")]

In [77]:
yelp.shape

(2081752, 22)